<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Title</title>
</head>
<body>
<h1> List All Departments</h1>
<hr />
<table>
    <tr>
        <td>Department ID</td>
        <td>Name</td>
        <td>hhhhhh</td>
    </tr>

    <tr th:each="item : ${departs}">
        <td th:text="${item.id}">Department ID</td>
        <td th:text="${item.name}">Name</td>
        <td>
            <a th:href="@{'/departs/edit/'+${item.id}}">EDIT</a> |
            <a th:href="@{'/departs/delete/'+${item.id}}">DELETE</a>
        </td>
    </tr>

</table>
</body>
</html>
