<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>Staff ID</td>
        <td>Name</td>
        <td>Birthday</td>
        <td>Photo</td>
        <td>Department ID</td>
        <td> </td>
    </tr>
    <tr th:each="staff : ${staffs}">
        <td th:text="${staff.id}"></td>
        <td th:text="${staff.name}"></td>
        <td th:text="${staff.birthday}"></td>
        <td>
            <img th:src="@{'/getimage' +${staff.id}}" th:alt=" ${staff.photo}" />
        </td>
        <td th:text="${staff.depart.name}"></td>
        <td>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>
    </tr>
</table>

</body>
</html>